@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html{
    
    
}

body{
    background: none;
}


/* Nav customization 
.navbar-brand{
    
    color: whitesmoke;
    font-size: 25px;
}

.navbar-nav>li>a{
    color:whitesmoke;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.navbar-nav>li>a:hover, .navbar-brand:hover{
    background: none;
    color: cadetblue;
}

.navbar-toggle .icon-bar{
   background: white;
    color: white;
    }

*/


/* Huge Hello World customization */



.jumbotron h1{
    
    font-size:20em;
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
      
}

@media (min-width: 200px) {
    .jumbotron h1 {
        font-size: 7rem;
    }
}

@media (min-width: 400px) {
    .jumbotron h1 {
        font-size: 12rem;
    }
}

@media (min-width: 600px) {
   .jumbotron h1 {
        font-size: 16rem;
    }
}

@media (min-width: 800px) {
     .jumbotron h1 {
        font-size: 1rem;
    }
}



.jumbotron h2{
    
    font-size: 3em;
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
    
}

@media (min-width: 200px) {
    .jumbotron h2 {
        font-size: 4rem;
    }
}

@media (min-width: 400px) {
    .jumbotron h1 {
        font-size: 13rem;
    }
}

@media (min-width: 600px) {
   .jumbotron h1 {
        font-size: 16rem;
    }
}

@media (min-width: 800px) {
     .jumbotron h1 {
        font-size: 19rem;
    }
}






#jumbo{
    
    height: 100vh;
    padding-bottom: 100px;
    background: url('Images/bg2.jpg');
}


#arrow-down{
    
    background-color: rgba(255, 255, 255, 0.42);
    border: 0px;
    padding: 3px;
    background: none;
    
}

#arrow-down:hover{
    
    border: 0px;
    padding: 3px;
    background:none;
}


.glyphicon{
    font-size: 80px;
    color: aliceblue;
}

.glyphicon:hover{
    font-size: 80px;
    opacity: 0.5;
}

#me{
    
    background: white;
    padding-bottom: 100px;
    padding-top: 100px;   
}

#me h1{
    margin-bottom: 30px;
    color: #1f1f1f;
    font-size: 52px;    
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}


#me h3{
    
    margin-bottom: 10px;
    color: #1f1f1f;
    font-size: 20px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    
}


#me p{
    
    margin-top: 18px;
    color: #1f1f1f;    
    line-height: 1.5;
    font-size: 18px;
   
}

#me img{
    
    margin-top: 50px;
    margin-bottom: 30px;
    height: 250px;
    width: 300px;
    
}




#skills {
	background-color: #f5f5f5;
    padding-bottom: 100px;
    padding-top: 100px;
    font-family: ;
    
}

#skills h1{
    
    color: #1f1f1f;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}


#skills h2{
    color: #1f1f1f;
    font-family: 'Russo One', sans-serif;
    
}


#skills p{
    
    margin-top: 18px;
    color: #1f1f1f;    
    line-height: 1.3;
    font-size: 18px;
    
}


#skills-imagem{
    margin-top: 30px;
    height: 200px;
    width: 200px;  
}

#skills i.fa{
	font-size: 8.0rem;
    
        
}

.yellow {
    color: #FDCD3B;
}

.yellow:hover{
     -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.s1{
    
     margin-left: 10px;
}


.s2{
    margin-left: 10px;
}

.s3{
    
    margin-left: 10px;
}

.ex1{
    margin-bottom: 50px;
}

.ex2{
    margin-bottom: 50px;
}




/* Quote */ 

aside.cta-quote {
    color: white;
    background-color: #222222;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 100px 0;
    text-align: center;
}


aside.cta-quote span.quote {
    display: block;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    line-height: 1.3;
}

.bill{
    
    font-size: 29px;
    color: whitesmoke;
}


/* Skills 2 section */

#skills2 {
	background-color: rgb(245, 245, 245);
    padding-top: 80px;
    padding-bottom: 100px;
    
}

#skills2 h1{
    
    margin-bottom: 100px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 45px;
    text-decoration: underline;
    
}


#skills2 h3{
    
 font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;   
}

.sk_1{
    
    margin-bottom: 80px;
}




.footer{
    padding-top: 3px;
    padding-bottom: 50px;
    background-color:#2A3A3F;
    color: aliceblue;
    background-image: url(Images/bg2.jpg);
    
}

.white{
    color: whitesmoke;
}

.white:hover{
    opacity: 0.5;
}

.go-top{
    
    background: #020203;
    padding-top: 40px;
    
}

#arrow-up{
    background: none;
    background-color: none;
    
}


.contacto{
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: white;
}

.contacto h1{
    padding:0px 0px 20px 0px;
    font-family: 'Russo One', sans-serif;  
    
}

.alive{
    
    border: 0px;
    padding: 0px;
    background: none;
    text-decoration: underline;
    color: cadetblue;
}

.alive:hover{
    
    border: 0px;
    padding: 0px;
    background: none;
    text-decoration: underline;
    color: #2A3A3F;
}

.alive:active{
    
    border: 0px;
    padding: 0px;
    background: none;
    text-decoration: underline;
    color: red;    
}

